/node_modules
/public/hot
/public/storage
/public/certificates
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
database-schema.sql
/tests
/config
/public/uploads
/docker_specific/settings.json
/pdf